@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    place-items: center;
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
        grid-template-rows: 40% 60%;
        row-gap: 20px;
    }   
    .wrapper {
       height: 100%;
       display: flex !important;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       padding: 0 10px;
       row-gap: 13px;
    }

    #google-map{
        width: 80%;
        border-radius: 15px;
        margin-top: 10px;
        max-height: 350px;
        flex-grow: 1;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
    
    .search-box {
        width: 100%;
    }

    .submit {
        place-self: center;
        margin: 20px 0;
    }
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50% 50%;
    align-items: center;
}

.title {
    text-transform: capitalize;
    font-size: 2.7rem;
    font-weight: 600;
    place-self: center;
    grid-row: 1 / span 3;
}


.search-box {
    width: 100%;
    grid-row: 1 / span 3;
    grid-column: 2 / 4;
    place-self: center;
    margin: 0 auto;
}

.search-box input {
    width: 80%;
    height: 40px;
    padding: 15px;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
}


.submit a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    padding: 20px;
    border-radius: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.search a:hover {
    background-color: #C4E1F6;
    color: black;
    grid-column: 5 / 6;

}

.submit {
    grid-row: 1 / span 3;
    grid-column: 4 /5 ;
}

#google-map{
    width: 80%;
    border-radius: 15px;
}